/* All select elements on page */

  
  /* Style by class. Effects the text of the contained options. */
  .blue {
    color: white;
    background-color: darkslategrey;
    border-radius: 5px;
   
  }
  
  .border1{
    border: darkgray solid 1px;
    padding: 10px 15px;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  

  
  .paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pagination__link {
    border: none;
    background: rgb(162, 160, 175);
    padding: 10px;
    color: rgb(8, 2, 23);
    box-shadow: 0 0 3px rgba(64, 45, 163, 0.4);
    margin: 0 10px;
    border-radius: 5px;
    /* cursor: pointer; */
  }
  
  .pagination__link--active {
    /* border: 5px; */
    background: darkslategray;
    color: white;
    border-radius: 5px;
   border: darkslategray solid 5px;
  }
  
  .pagination__link--disabled {
    pointer-events: none;
    box-shadow: none;
    color: rgb(149, 22, 22);
  }