.App-header-forgot {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.btn {
  padding: 10px;
  margin-top: 10px;
}

.eye-icon {
  cursor: pointer;
  margin-left: 10px;
  /* Space between input and icon */
  color: #6c757d;
  /* Change color if needed */
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  /* Space between input fields */
}

.text-danger {
  margin-top: 5px;
  font-size: 12px;
}