.App-header-login {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
  
  }

  .eye{
    display: grid;
    position: relative;
    justify-content: end;
    top: -22px;
    right: -20px;
  }