/* All select elements on page */
select {
    position: right;
  }
  
  /* Style by class. Effects the text of the contained options. */
  .blueText {
    color: white;
    background-color: black;
    /* background-color: #0275d8; */
    border-radius: 5px;
    position:absolute;
    top:15px;    
    right:15px;
  }
  
  .nav-link{
    color: white !important;
  }

  .navbar-toggler {
    border-color: white !important;
  }
 